/*
    Kenneht Carroll
    3/2/2021
    Revision 2
    Styles for Card Home Component
*/
.mat-expansion-panel {
    width: 80vw;
    margin: auto;
    margin-top: 3rem;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4);
}
.mat-expansion-panel-header {
    margin: 1rem;
}
.button__container {
    margin: 3rem;
    display: flex;
    justify-content: center;
}