<!--
    Kenneth Carroll
    3/2/2021
    Revision 1
    Template for Card Home Component
-->
<!-- expansion panel for each set-->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <!-- SetId -->
            Placeholder Title
        </mat-panel-title>
        <mat-panel-description>
            <!-- Title-->
            Placeholder Description
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <!-- Set.Card for each card in the set-->
    </ng-template>
</mat-expansion-panel>

